.movie-charts-container {
  width: 100%;
  max-height: 800px;
  overflow-y: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.gauge-bar-row {
  display: flex;
  justify-content: space-between;
}

.gauge-bar-item {
  width: 80%;
  margin: 0 50px;
  font-family: 'Kakila';
  padding: 10px;
}